<div class="translation_container">
  
  {% for groupkey, group in translationGroups %}
  <div id='group_{{loop.index}}' class="group_container">
    <h4 id='group_title_{{loop.index}}'>
      <a href="javascript:void(0)" onclick="translatorManager.getInstance().doShowHideGroup({{loop.index}});">
        {{ groupkey }} 
      </a>
      
    </h4>
    <div id='group_data_{{loop.index}}' class="group_data_container" style="display:none">
      {% for key, value in group %}
        <div class="translation_container_data" id="tranlation_container_data_{{ key }}">
          <a href="javascript:void(0)" onclick="translatorManager.getInstance().doShowHide('{{ key }}', {{loop.index}});">
            {% if key == value %}
                  {{ key }}
            {% else %}
                  [{{ key }}] - {{ value | raw[:40] }}
            {% endif %}
          </a>
          <div class="single_translation" id="{{ key }}_translation" style="display:none">
            <form action="{{ path('maith_common_translator_set_tranlations') }}" method="POST" onsubmit="return translatorManager.getInstance().sendPutTranslations(this);">
               <input type="hidden" value="{{ key }}" name="key" />
               <input type="hidden" value="{{ bundle }}" name="bundle" />
               <input type="hidden" value="{{ lang }}" name="lang" />
               <div class="clear"></div>
               <textarea name="value" rows="4" cols="200" id="{{ key }}_translation_textarea">{{ value }}</textarea>
               <div class="clear"></div>
               <input type="submit" value="Cambiar" />              
            </form>
          </div>
        </div>
        <div class="clear"></div>
      {% endfor %}
    </div>
   </div>
  {% endfor %}
</div>